PySimpleGUI
hostsman
screeninfo
2captcha-python
opencv-python
pywinauto
requests
websocket-client
proxy.py
psutil
logging
flask-sock
matplotlib
selenium
numpy
webdriver-manager
discord-webhook
flask
pillow
