multiprocessing
PySimpleGUI
hostsman
screeninfo
twocaptcha
opencv-python
pywinauto
ctypes
requests
websocket
proxy
psutil
tempfile
logging
flask-sock
matplotlib
selenium
numpy
webdriver-manager
discord-webhook
flask
pillow
